    <section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/aids.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
        <h1>Silvia Almeida</h1>
        <p>"Vivo com HIV e que uso o amor e a informação para construir minha família e enfrentar o estigma e a discriminação em relação ao vírus.

        Recebi meu diagnóstico em 1994. Descobri que estava vivendo com HIV quando fiz o teste depois que meu marido faleceu em decorrência de complicações relacionadas à AIDS.
        
        Na época [do diagnóstico], muito pouco se sabia sobre a doença, uma realidade muito diferente dos dias de hoje. Quando recebi o diagnóstico, já era mãe de dois filhos. Em 1991, quando tive minha segunda gestação, não sabia que havia contraído o vírus. Meu parto foi normal e meu filho não nasceu positivo por destino, sorte, ou por eu ter, já naquela época, uma carga viral baixa, mas até então não sabíamos destes detalhes. Recebi muito apoio do seu local de trabalho quando fui diagnosticada, como o apoio psicológico e compra de medicamentos que não existiam no Brasil, isso foi um fator-chave para minha família. Trabalhar é extremamente importante para uma pessoa vivendo com HIV para manter seu sustento e tocar a vida. Assim pude continuar trabalhando e criando meus filhos.
        
        A família deveria ser sempre nosso porto seguro e nos dar colo e alento nos momentos difíceis. Pessoas que vivem com HIV devem ser amadas, amar, serem felizes e viver livres de julgamentos e preconceitos. As famílias são refúgios de carinhos e afetos e os estigmas devem fazer parte do passado, pois a ciência evoluiu e precisamos evoluir junto com ela.”</p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
