<section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/ansiedade.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
        <h1>Luciane Smidt</h1>
        <p>“Sempre fui uma pessoa espiritualizada, determinada, alegre, independente, corajosa e bastante ativa. No entanto, comecei a apresentar insônia, dores intensas de cabeça, intercaladas com dores musculares que me levavam a internações recorrentes. Estes sinais e sintomas desencadearam crises de pânico, seguidos de uma ansiedade que invadia e sufocava meu peito. Meu coração acelerava, suava frio, minha respiração ficava ofegante, sentia uma sensação de impotência e um medo terrível me consumia, principalmente, quando se aproximava o horário de ir para o trabalho.
        Durante uns três meses vivenciei esses fatos, até que um dia a ansiedade era tamanha que não consegui sair de casa para ir trabalhar. Procurei um médico psiquiatra, pois já fazia terapia há algum tempo devido ao estresse ocasionado pelo trabalho. Fui afastada do emprego e medicada. Chorava muito, me isolei dos amigos, perdi minha autoestima e só queria dormir. Estava deprimida. Contudo, nunca aceitei a condição na qual eu estava, pois tenho um filho com síndrome de Down e sabia o quanto ele precisava da mãe saudável e forte!Eu recebi muito amor, paciência, carinho e atenção, principalmente, do meu esposo. Na época, estávamos namorando fazia dois meses. Eu morava no Rio Grande do Sul e ele, no Rio de Janeiro e, nas crises de ansiedade, ele orava comigo. O Lucas, meu filho, era o meu cristal. Ele é budista, realizava práticas várias vezes ao dia, queimava incenso e recitava mantras para mim. Seu sorriso, beijo e carinho alimentavam a minha força de querer sair daquele buraco negro.
        Foram seis meses para eu sair da crise. Nesse período, mudei de psiquiatra e as condições para ela me tratar eram manter o tratamento medicamentoso, fazer terapia três vezes na semana, retomar a natação, incluir academia para socializar e buscar uma prática religiosa. Com o passar dos meses, a terapia foi reduzida para duas vezes na semana e já havia identificado que a minha cura dependia de pedir demissão do hospital em que eu trabalhava. Mesmo assim, eu precisava me superar, jamais aceitei fugir dessa forma. Eu amava o meu trabalho, foram 15 anos de amor e dedicação.Nessa fase, minha relação de intimidade com Jesus era imensa. Eu orava, realizava práticas meditativas do budismo, praticava regularmente atividade física, elaborei um plano alimentar voltado para a energização dos chakras e decidi que retornaria ao trabalho por mais alguns meses. Fui recebida pela equipe de trabalho com muito carinho, homenagens e festa. Nos dois primeiros meses, tive algumas crises de ansiedade, mas respirava fundo lentamente, me lembrava das pessoas que amava, fechava os olhos, orava para Jesus e imaginava estar sendo banhada por luzes do arco-íris. Trabalhei por mais um ano, feliz, até optar pela demissão. Não sofro de ansiedade há mais de dois anos. Optei por administrar a minha vida com a família, os estudos e cuidando da alimentação das pessoas que buscam uma nutrição integral, aquela que nutre o corpo físico, a mente e a alma!”
        </p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>