<section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/avc.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
        <h1>história da Tatiana e sua mãe Vera Lúcia</h1>
        <p>“Olá meu nome é Tatiana sou filha da Vera Lúcia e venho hoje contar um pouco da nossa vivência com o AVC. Bom a 11 anos atrás passamos por um dos momentos mais difíceis de nossas vidas, a 11 anos nossa vida mudou completamente.

        Minha mãe com seus 55 anos sofreu um AVC o famoso “derrame” popularmente falando, ela sofreu o avc hemorrágico uma das formas graves do avc. Lembro como se fosse hoje do susto que foi pra mim ver minha mãe numa situação tão triste e difícil para ela e para mim. E tudo aconteceu de repente em uma noite de sábado normal, ela estava super bem, lembro que fui deitar á deixei tranquila assistindo tv, fazendo as unhas, até então nada de anormal. Um detalhe importante minha mãe era fumante e hipertensa(aquela hipertensa que não se cuida, que tomava remédio quando lembrava, mas o cigarro era sua válvula de escape para tudo, seu companheiro inseparável). Sem querer me prolongar muito mas acho interessante falar, eu e minha mãe temos uma ligação bem forte, sou a caçula, sempre fui muito agarrada a ela. E nessa noite de sábado como relatei, fui deitar e deixei ela bem, sem queixar absolutamente nada e mal imaginávamos que na madrugada desse mesmo sábado nossas vidas mudariam. Todos os dias antes de dormir minha mãe ia ao meu quarto me desejar boa noite me abençoar e um detalhe ela sempre deixava a porta aberta do meu quarto. E nesse dia ela fez como de costume porem com uma única diferença nesse dia ela fechou a porta (o que ela nunca fazia),e claro na hora não me dei conta mas depois do acontecido vamos lembrando… recordando.. enfim.. virei pro lado e fui dormir. Quando foi as 02hs da manhã acordei do nada, e lembrando que nunca tive o  costume de acordar a noite, pelo menos não até aquele dia, mas acordei e me assustei com um clarão que vinha debaixo da porta do meu quarto que me chamou á atenção, pensei.. bom deixa eu ver o que aconteceu.. levantei e assim que abri a porta me deparei com um barulho que parecia um ronco bem alto, um barulho bem estranho. Fui até o quarto dos meus pais e só meu pai estava dormindo, pensei onde está minha mãe? Então fui seguindo o tal barulho estranho e me deparei assim que entrei no quarto ao lado do dela e vejo minha mãe caída,sem falar coisa com coisa,toda molhada, com o lado direito todo do corpo sem “jogo”, fala “arrastada” e logo me veio a cabeça o famoso derrame e dái já podem imaginar o meu desespero.. nisso meu pai acorda com meus gritos,ligações a todo momento para o SAMU pedindo socorro que parecia uma eternidade esperando chegar ate que enfim fomos para o hospital… esse acontecido rendeu a ela 18 dias internada em um CTI improvisado que fizeram pra ela,porque o hospital estava lotado(mais desesperada fiquei) e ela com quadro sério de AVC hemorrágico e o médico diz pra mim assim “fizemos tudo que podíamos pela sua mãe, agora é ter fé em Deus e esperar” essa frase foi como se abrisse um buraco no meu coração.. no momento que eu mais precisava dela, ela poderia me deixar a qualquer momento.E pensar que podia perder um pedaço de mim, mas rezei rezei e rezei me apeguei a minha fé, mas confesso que ve-la ali sem mexer o lado direito todo, confusa, ás vezes não me reconhecia,  alimentando por sonda, fraldas.. a situação de uma pessoa que trabalhava a todo momento, não parava um minuto,ajudava todo mundo que precisava dela, cuidava da casa, cuidava da sua Tia/madrinha doente, acamada e hoje era ela a que mais precisava de ajuda.
        
        Depois de alguns dias ela foi melhorando aos poucos, saindo daquele quadro critico, voltamos para casa graças a Deus.E aí começamos a nossa luta… inciamos com fisioterapia.. fonoaudióloga.. terapia ocupacional… médicos e médicos.. essa era a nossa rotina.Quando falo nossa, é porque sempre foi uma luta diária minha e dela, sempre juntas ali por um único objetivo, vencer as dificuldades que iriamos enfrentar. 
        
        Depois de 1 ano ela voltou a andar com ajuda de bengala, a falar direito.. mas aí depois de alguns anos a exatos 3.. quase 4 anos vieram outros e outros AVCS.. pequenos sangramentos causados novamente pela hipertensão, apesar do rigoroso  controle qaue ela tem com a pressão os avcs aconteciam, onde foi sequelando ela mais e mais.. dificultado um pouco mais a fala, engasgos, o andar enfim… mas sempre  estive ali ,junto dela, cuidando, lutando para que cada dia fosse menos difícil. E recentemente ela teve o avc isquêmico a 1 ano e pouco e lesionou o lado esquerdo, aí imagina só ,ela já tem a lesão que comprometeu o lado direito e agora o lado esquerdo.. como seria?!  Nos rendeu 3 dias de internação mas como eu indetifiquei os sintomas logo de cara.. eu até brinco que já estou calejada com tanto avcs que hoje já indentifico com mais facilidade e logo busco socorro.E foi isso que evitou que ela tivesse sequelas, e não acabou por aí não ,ano passado ela teve o que eles chamam de AVC transitório.. foi mais um susto como vários que ela já me deu, mas graças a Deus dessa vez foi só um susto mesmo,sem consequências maiores.
        
        Hoje sou formada em enfermagem, logo depois que ela adoeceu me desdobrei e fiz o curso,tomei gosto pelo cuidar, e hoje me dedico dia a dia a ela,aos cuidados e recuperação dela, muitos me questionam, outros criticam, outros me admiram que graças a Deus são a maioria e me chamam de guerreira por cuidar tão bem da minha mãe em todos os sentidos.Sabe quando seus Pais são capazes de fazer tudo por um filho?! Pois assim são os meus, hoje me vejo assim,os papéis se  inverteram a filha cuidando da mãe.. dos pais e lembra do começo do meu relato a historia da porta fechada e eu nunca acordar a noite etc..?! Pois é hoje mais do que nunca sei que foi DEUS quem me acordou e me mostrou que minha mãe precisava de mim, e que ali começaria uma missão dada por ele a mim.Hoje é isso que me matem de pé, firme para enfrentar essa luta diária, mas levanto todos os dias e agradeço a deus pela vida dela,pela vida do meu pai, por te-los comigo.. e se for essa minha missão, de cuidar dela,assim será até quando Deus me der saúde e me permitir.Hoje continuamos na nossa batalha ao lado do GRANDE HOMEM que não poderia deixar de citar que é meu Pai que nunca á deixou,sempre se fez presente, me ajuda no dia-a- dia com ela.Ela tem o acompanhamento de fisioterapia, fonoaudiologia,clinico .. neuro.. e hohe é o contrario, ela quem é agarrada a mim rsrs, muito dependente de mim, mas estamos aqui, sempre unidas e com a esperança de dias melhores ,a recuperação pode ser lenta mas nunca será impossivel aos olhos de Deus, é dele que vem nossa força.. Desejo de coração que nosso relato sirva de exemplo,de incentivo a todas as pessoas, famílias que estejam passando pela mesma luta que a nossa, nunca desista de lutar, porque Deus nos deu a vida e devemos sempre honrar e lutar por ela . “Só o Amor nos dá força e condições para cuidar do outro até o Fim”
        
        Tatiana Vale (Filha de uma Guerreira que luta diáriamente pelo que há de mais precioso, a vida )”
        </p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>