<div class="body1">
        <div class="body2">
                <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="navbar-collapse collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
      <div class="card-deck row">
        <div class="card4">
            <div class="card">
              <div class="card-body">
              <img src="/images/aids.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Silvia Almeida</h5>
                <p class="card-text">HIV</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
              <img src="/images/ansiedade.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Luciane Smidt</h5>
                <p class="card-text">ANSIEDADE</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="card4">
            <div class="card">
              <div class="card-body">
              <img src="/images/avc.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Vera Lúcia</h5>
                <p class="card-text">AVC</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>   
              </div>
            </div>
            <div class="card">
              <div class="card-body">
              <img src="/images/depressao.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Filipe</h5>
                <p class="card-text">DEPRESSÃO</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>   
              </div>
            </div>
        </div>
        <div class="card4">
            <div class="card">
              <div class="card-body">
              <img src="/images/diabetes.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Kener Assis</h5>
                <p class="card-text">DIABETES</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>   
              </div>
            </div>
            <div class="card">
              <div class="card-body">
              <img src="/images/mama.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Vanessa</h5>
                <p class="card-text">CANCER</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>   
              </div>
            </div>
        </div>
        <div class="card4">
            <div class="card">
              <div class="card-body">
              <img src="/images/obesidade.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Nathalia</h5>
                <p class="card-text">OBESIDADE</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>   
              </div>
            </div>
            <div class="card">
              <div class="card-body">
              <img src="/images/toc.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Pietro Navarro</h5>
                <p class="card-text">TOC</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>   
              </div>
            </div>
        </div>
      </div>
          </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
