<section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/depressao.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
        <h1>Filipe</h1>
        <p> Era uma pessoa divertida e animada, antes de descobrir que estava com depressão. Tudo começou aos 26 anos, por causa do término do relacionamento com a mãe do meu filho. De uma pessoa entusiasmada, me transformei numa pessoa que começou a não querer sair, a não fazer nada, a chorar com frequência e, tive até pensamentos suicidas.

        A partir daí resolvi procurar ajuda. Foram quase três meses com os sintomas, até a decisão de procurar tratamento. Eu mesmo era daqueles que tinha preconceito de procurar psiquiatra, psicólogo, de achar que estava bem, que não sou doido, que isso [tratamento] para mim é coisa de doido. Então, levei de uns dois a três meses para entender que não era normal, que não era do meu cotidiano, da minha pessoa, a partir daí decidi procurar ajuda.
        
        Primeiro procurei um psiquiatra que, logo depois, me encaminhou para uma psicóloga. Durante o período de tratamento, cheguei a tomar três tipos de medicamentos: um para um para ansiedade, um para depressão e um estabilizador de humor. Mas, a terapia foi o fator principal no processo de cura. Fiz tratamento com psicólogo durante um ano e tomei medicamentos por seis meses.
        
        Digo com orgulho que a força para seguir em frente e não desistir veio do meu filho mesmo! Ele é pequeno, tem 3 anos. Então ele era o que mais ajudava a procurar ajuda, fazer terapia e a tentar melhorar.

        Hoje, livre da depressão, voltei à rotina e me esforça para estar sempre entre familiares e amigos. Ao fazer uma análise do próprio caso, entendi que dias e momentos ruins sempre vão existir. Não tem como ter uma vida perfeita e está tudo bem. Problemas vão ter e tem que aprender a lidar com eles e saber que uma hora passa e que vai conseguir dar a volta por cima.

        Além disso, é importante buscar apoio. Procure ajuda! Porque passa muita coisa na cabeça da gente e, se não procurar ajuda, infelizmente, pode acontecer até a questão do suicídio. Tentar se abrir com os outros, procurar ajuda o mais rápido possível assim que perceber algo diferente, que não é habitual, mesmo que não seja nada para não ficar pior ou agravar a situação que estava.”
        </p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>