<section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/diabetes.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
        <h1>Kener Assis</h1>
        <p>"Num exame periódico no trabalho, descobri que sofria de diabetes. Na época, embora um pouco afastado dos treinos, pedalava, corria e vivia uma fase intensa no trabalho, com problemas pessoais e estava às voltas com a conclusão de um curso superior. Combinação perfeita para alto índice de estresse.

        Saía muito cedo de casa e retornava por volta de meia noite, pois tinha que conciliar atividade profissional com a universidade. Tinha todos os sintomas e não me dei conta. Visão turva, fome e sede absurdas, perda de peso, urinava muitas vezes à noite, cansaço físico. Em pouco tempo saí de uma condição favorável de saúde para o diagnóstico de diabetes.

        No início, cheguei a me entregar às dificuldades que o diabetes impõe, negligenciando o tratamento e abusando da alimentação.

        Desde garoto sempre gostei de atividades esportivas. No período do diagnóstico estava afastado do ciclismo e das corridas. Só conseguia fazer alguma coisa nos finais de semana: o básico. Refletindo, depois, percebi como aos poucos fui saindo do rumo seguro para uma direção que acionou o “gatilho” e trouxe o diagnóstico.

        Uma base bem estruturada te leva ao infinito e é composta de: orientação médica (endocrinologista), que fará a análise dos resultados dos exames e orientará sobre as medições glicêmicas e aplicações de insulinas; orientação sobre atividade física e esportiva (educador físico), que sabendo de sua condição prescreverá as atividades e o acompanhará durante a execução e orientação nutricional (nutricionista), que irá compor uma dieta alimentar e suplementar de acordo com sua condição e objetivos.

        Quando se fala em diabetes a primeira ideia que se tem são os problemas. A fotografia é sempre de pessoas de idade mais elevada e que já apresentam complicações por mau controle, como cegueira, comprometimento de membros, amputações, hemodiálise, etc. Mas há o lado extremamente positivo, e esse precisa ser amplamente difundido.

        Talvez pelo fato de o bom controle do diabetes ser algo que demande tempo, dedicação, disciplina, aprendizado e muito autoconhecimento, me vi apaixonado."
        </p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>