<h1>Pra você e por você!</h1>
<p>Como vai você hoje? "Tudo bem?" pergunta feita frequentemente, porém muitas vezes o que as pessoas esperam é apenas um sim/claro/estou ótima, aqui não, nós estamos prontos para te ajudar. Servimos em busca da sua satisfação pessoal em relação aos problemas cotidianos ou traumas. Não há barreiras para quem quer seguir em frente.</p>
{{!-- serve como voluntario ja que ele teria de fazer sua conta --}}
<a href="/signup">Sign Up</a> 
{{!-- serve como usuario, ja que ele ja tem a conta --}}
<a href="/login">Login</a>