<section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="navbar-toggler-icon text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/mama.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
        <h1>Vanessa</h1>
        <p>“Tive diagnóstico de câncer de mama uma semana depois de descobrir minha gravidez.

            Percebi um inchaço embaixo do braço. Logo, marquei uma consulta de rotina e realizei diversos exames, inclusive biópsia. A doença não era uma realidade tão distante, já que havia histórico na família. Apesar de nunca ter pensado que poderia passar por isso, tive certeza do caso assim que senti o “caroço”. Porém, uma semana depois descobri que estava grávida. Quando voltei na médica para saber o resultado da biópsia, o câncer se confirmou, mas eu só pensava no meu filho e em como o tratamento afetaria a gravidez. Então, nem posso dizer que fiquei chocada com a notícia.
            As sessões de Quimioterapia acompanharam toda a gestação e meu filho Benjamin nasceu – de parto normal – um dia após a última sessão de tratamento. Eu não senti nada durante as sessões. Estar grávida mudou tudo, porque tirou meu foco da doença.
            Mas, apesar da gravidez ter tirado o peso do câncer, tive dois momentos extremos que mexeram muito com meu psicológico: a perda dos cabelos e a retirada da mama. Perder meus cabelos foi muito, muito difícil. Mas não deixei isso me abalar, fui atrás da peruca e dei um jeito de fazer brincadeira com a situação. O humor, inclusive, fez as pessoas ao meu redor aceitarem melhor o que estava acontecendo. Hoje nem ligo mais, o cabelo não é nada para mim. Se precisasse ficar sem cabelo para o resto da vida, não me importaria.
            A gravidez mudou até a forma como eu e minha família lidamos com a situação. Eu não estava me sentindo doente, então não precisava de ninguém me tratando como tal. Mas a minha família foi muito discreta e não me julgou em nenhum momento. Por isso, o mais importante durante o tratamento é trabalhar o psicológico. Na primeira sessão de terapia que fiz com a Psicóloga, assisti um filme que falava sobre a importância do pensamento positivo, com exemplos de pessoas que, ao pensarem positivo, conseguiam superar seus problemas. Foi o que fiz e fez toda a diferença. Hoje, valorizo mais a vida, sou outra pessoa, mudei meus valores e comecei a fazer as coisas com mais prazer”.
        </p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>