<section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/obesidade.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
          <h1>Nathalia</h1>
            <p>"Durante minha adolescência comecei a sofrer com o efeito sanfona, engordava no inverno e emagrecia para o verão, travando uma luta constante contra a balança. Depois que casei, meu estilo de vida mudou, e me dei conta que estava ficando cada dia maior. Quando reflito se ouve algum problema que desencadeou a obesidade, me pergunto: 'O que me levou a ser obesa?' 'Por que eu fiquei tão grande?' Não houve trauma, depressão ou uma razão emocional ou física. Sabe aquela sensação, sem qualquer razão para comer um biscoito? Você vai para comer um biscoito e quando você olha para a caixa, ela está vazia e você ainda se sente insatisfeita e vai procurar alguma outra coisa para comer.
            Naquela época, trabalhava sentada 9 a 10 horas por dia e comia o tempo todo e quando chegava em casa continuava sentada e comendo tudo que via pela frente me sentia como um poço sem fundo. Era um ciclo que não tinha fim, eu me odiava por comer e comia porque eu me odiava. Até o dia que eu acordei e não conseguia reconhecer quem eu era. Eu já tinha feito  um estrago muito grande. 

            Mentia para mim mesma e para os outros sobre o meu peso e as minhas 'dietas perfeitas', falar é fácil! O que você secretamente come e depois se gaba que 'não comeu besteira', mais cedo ou mais tarde, o corpo revela em público. É por isso que desta vez, não houve mentira, sem conversa, sem truques. Eu decidi ser honesta. Se você se encontra em uma armadilha de desculpas e mentiras sobre sua 'dieta' dará um passo para trás e verá que você está apenas se prejudicando.

            Um belo dia, cansada de se olhar no espelho e não me reconhecer, dei um basta decidi, mudar minha vida e nunca mais olhar para trás. E foi assim que comecei meu processo de transformação.

            A parte mais difícil foi controlar a compulsão alimentar tive que ocupar bastante meu tempo para simplesmente não comer por comer. Por quase um ano, cancelei totalmente minha vida social.

            Contei com a ajuda inicial de uma clínica de emagrecimento e fiz uma dieta bem restrita, supervisionada por um médico. Mas com o tempo, minha mentalidade mudou, não queria apenas ser magra, queria ser sarada. Parei de ir a clinica, pois lá não podia praticar exercícios porque a dieta era muito restrita continuei comendo alimentos limpos e saudáveis e comecei a malhar bastante. Hoje treino 6 vezes por semana. Faço exercícios funcionais e musculação. E também me aventura em esportes radicais, como escalada. Adoro exercícios ao ar livre. 

            Tudo na minha vida mudou após o emagrecimento, desde o meu casamento até a saúde e alegria dos meus filhos. Eu não saia com meus filhos, não tinha energia, não tinha vontade. Hoje me sinto outra, até no jeito de andar, falar e me vestir. Hoje sinto desejo em cuidar de mim, e cuidar melhor da minha família,até da minha casa. A obesidade tirou toda minha energia, eu era muito preguiçosa, isso afetava tudo, simplesmente tudo, na minha vida. Aprendi a me amar e ser mais otimista. Eu não me amava, era muito negativa comigo mesma. Hoje também tenho muitos dias ruins, mas tento ser mais positiva, aceitar os meus defeitos e não me jogar na compulsão por isso. Tento não me odiar e comer por me odiar, esse e um circulo negativo que nunca mais vivi.

            Durante o processo de emagrecimento sofri um pouco com a reação dos amigos e parte da família. Algumas amigas não entendiam porque eu rejeitava doces e bolos. Outras achavam um pouco de exagero da minha parte, principalmente durante Natal e ano novo. Até meus pais também começaram a achar estranho quando eu comecei a levar minha marmita para todos os lugares. Mas isso foi só no começo, depois o povo se acostumou e se orgulhou.

            Um assunto muito delicado que muitas pessoas passam quando estão acima do peso, é a sexualidade e a relação com o parceiro(a). Sofri muito com isso, embora tivesse um marido que me amasse, não se sentia feliz e atraente ao seu lado.

            Quando eu cheguei no meu maior peso, evitei todos momentos íntimos com meu marido. Eu rejeitava meu marido porque eu achava que ele não me amava por eu estar muito gorda. Durante o sexo eu estava constantemente pensando em como eu estava gorda e nunca poderia aproveitar nossos momentos! Eu nunca desfrutei, não por causa dele, mas por causa de mim mesma! Eu queria que fosse rápido, para que eu pudesse colocar as minhas roupas! Ficava envergonhada, e muito triste! Eu não queria ser tocada! Quem quer ser tocada e acariciada quando você tem camadas de gordura? 

            Usando de desculpas para evitar as relações sexuais, percebia o quanto meu casamento estava sendo afetado e o que a consolava era o imenso amor que tinhamos um pelo outro. O apoio do marido foi fundamental para minha conquista. Ele acreditou em mim e teve paciência comigo! Eu não era obesa quando nos conhecemos, com tempo eu desfigurei em outra pessoa … Alguém que não conhecia ! Não só engordei, mas me tornei outra pessoa! Eu adquiri uma atitude ruim e negativa!. Mas hoje, tudo melhorou.

            Minha alimentação na época da obesidade era um verdadeiro “lixo”, tudo era frito ou submerso em molhos pesados. Comia ate quando não tinha fome, comia por comer!  Um dia depois que mudei meu estilo de vida,eu decidi calcular as calorias de um dia normal na época que comia de tudo, o total foi entrei 5.000-6.000 calorias! Fiquei horrorizada!

            E o que mudou? A simplicidade na escolha de bons alimentos foi a chave. Me permitia dois extras nos finais de semana, o mais difícil são os doces! Tinha uma sério vicio com açúcar. Acho que ainda tenho, por isso tento evitar o máximo possível. 

            Minhas metas ainda não foram foram totalmente alcançadas. Quero eliminar mais 8 quilos e ainda chegar aos 12% de gordura corporal. Meu objetivo agora, é não ficar confortável. Não posso parar por aqui e perder o foco. Me inscrevi no Spartan Race, uma corrida de obstáculos realizada em uma montanha de esqui. Essa corrida é para testar o corpo e a mente do atleta. Não é simplesmente correr uma maratona. É correr e pensar em ultrapassar seus limites. Venci e já quero fazer outras.

            Para finalizar gostaria de deixar avisado... Seja honesta com você mesma. Sem disciplina e auto-controle você nunca vai ter o que você diz que quer ter ou ser a pessoa que você diz que quer ser. Viva um dia de cada vez, não faça metas  ultrajantes com as datas de vencimento que não são reais. Isso só vai frustrá-la  mais e vai piorar a situação. Cada pequena tentação que você resiste, vai te fazer mais forte a cada dia que você for a academia sem querer,  vai moldá-la em uma versão melhor de si mesma!

            Peso antes: 120kg     Peso atual: 79kg   Altura: 1,64m   Tempo de emagrecimento: 14 meses 
        </p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>