<section>
        <div class="main-menu h-100">
                <div class="color">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                  <a class="navbar-brand text-white" href="/">Pra você e Por você</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
                  
                  <div class="collapse navbar-collapse" id="studioMenu">
                    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/login">Login</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link text-white" href="/signup">Signup</a>
                      </li>
                    </ul>
                    <!-- Search Form -->
                    <div class="header-search-form ml-auto">
                          <form action="#">
                              <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                              <input class="d-none" type="submit" value="submit">
                          </form>
                      </div>
                </nav>
                </div>
                </div>
                <img src="/images/toc.jpg" alt="">
    <div class="text d-flex justify-content-center">
        <div class="text2">
        <h1>Pietro Navarro Portela</h1>
        <p>Eu, com o passar dos anos, após ter chegado a um estado em que a minha ansiedade me consumia mais do que eu conseguia entender e aguentar, só pude achar a minha cura, a minha solução, em três lugares; as minhas três fontes de força.

        O primeiro deles, minha família, minha vó materna; e ela com toda a certeza.
        
        Tive respaldo da minha mãe, um ombro amigo do jeito dela, prático, como ela mesma é, quando me ajudou a encontrar o caminho da terapia e, posteriormente, da psiquiatria.
        
        Meus tios, meu avô; homens que sempre vão fazer parte da minha vida; que me incentivaram a sair daquele lugar onde eu me encontrava, mesmo sem saberem onde eu estava; que conversaram, que me ouviram, e isso é de um valor que não existe em preço.
        
        Mas minha vó. Como sempre minha amiga, minha companheira, pra tudo, mas do jeito único dela, diferente dos outros.
        
        Minha vó me abraçou quando eu mais precisei. Minha vó me ouviu da maneira como eu precisava enquanto vivia sobre o domínio da ansiedade, dos pensamentos intrusivos, do TOC. E até hoje ela o faz; ela sempre o fez.
        
        A figura que representou a ajuda que qualquer um passando por algo desse tipo precisa ter em casa; o conforto.
        
        Quando falo assim, é porque me lembro, sempre, do período em que tive depressão, quando mais precisei de amor e de todas essas pessoas ao meu redor.
        
        Mas minha pequena lista não acabou, então eu volto nela, na depressão, já, já…
        
        O segundo deles, minha psicóloga e hoje, grande amiga, Adriana. Representava minha esperança nos dias mais difíceis, uma luz dentro do túnel escuro pro qual eu me encaminhava.
        
        Era a minha segurança; o lugar onde sempre nos encontramos, até hoje, para conversar, o “espaço que é seu, que é nosso”, ela dizia.
        
        Ela, enquanto Psicóloga e amiga, acredito ter sofrido junto comigo. É a única pessoa que sabe integralmente o que eu passei, o que a ansiedade e a intromissão dos pensamentos quiseram me fazer pensar, e o sofrimento que senti com tudo aquilo.
        
        As pessoas precisam de uma psicóloga; as pessoas precisam de uma Adriana…
        
        E o terceiro deles, desde aquela época nebulosa o amor da minha vida, o impulso, a força que realmente me fez continuar; minha namorada; que viveu parte desses dias comigo, que sofreu intensamente por representar para as ações do meu TOC mais do que merecia, mais do que poderia aguentar.
        
        Essa menina-mulher foi e é meu tudo. Por circunstâncias da vida, foi para o intercâmbio enquanto eu lidava com as feridas de uma recém-chegada depressão.
        
        Mas não deixou de falar comigo por um dia sequer; nem por um dia; visto que conversamos todos eles por mensagens, cheias de saudade e amor.
        
        Hoje, quase 2 anos depois de ter voltado, ela continua sendo minha grande companheira, a mulher que segura minha mão quando eu ameaço cair. Ser isso de volta pra ela é tudo o que eu mais quero.
        
        Todo mundo, tendo um diagnóstico ou não, precisa de amor; precisa ser amado. E eu sou. E eu fui.

        Mas antes disso, da melhor parte da minha vida enquanto um combatente que lutou pela própria mente, pela própria vida, a depressão, como uma consequência do TOC, da pressão mental e da ansiedade com a qual eu convivi a vida inteira, me alcançou. 

        Falam de predisposição genética e, eu, porque estudei muito sobre isso, também acredito nela sim, mas nunca nela sozinha.

        Aqueles foram os dias mais tristes da minha vida até hoje. Sem ânimo pra sair da cama, sem força, sem saber o que tinha acontecido comigo, um cara sempre muito feliz, sempre muito alegre.

        As pessoas que não vivenciam o TOC ou a ansiedade em excesso nem sempre sabem, mas as obsessões em forma de pensamentos intrusivos destroem você.

        Seja o medo, a insegurança que leva a compulsão de checar a tranca da porta 200 vezes pra ter certeza de que ninguém querido vai morrer, que não foi o meu caso, até ficar horas de um dia todo se olhando no espelho, obcecando sobre a índole da sua própria namorada, do amor que sente por ela, sobre a posição e simetria das coisas no seu próprio quarto, sobre o jeito e a perfeição na hora de escolher termos pra escrever ou falar; isso, pra não ir mais longe.

        Tudo isso dói, e dói muito, dói do pior jeito, dói na mente, dói no coração, dói na percepção de si mesmo por não saber o que é e o que não é real.

        Dói a dor de quem luta contra aquilo que não vê, a dor de quem tem que entender que a sua luta é pessoal, a dor de quem tem que entender que seu adversário encontra suas forças no seu passado, que o ringue é dentro de você e que sua maior arma nessa disputa é, simplesmente, não revidar.

        Quem sofre de TOC, como eu, não entende no princípio que as suas causas, quase 99% das vezes, quando não em um trauma mais recente, se encontra nas profundezas da sua vida, da sua infância, da sua formação; do seu próprio passado.

        Enquanto crescemos, coisas acontecem ao nosso redor, coisas acontecem com a gente.

        Seja o abandono de um pai ou de uma mãe, a falta de sensibilidade de um familiar que “educa” batendo ou violentando psicologicamente com gritos e tensões, com ameaças, por mais “leves” que elas sejam; seja um assédio, seja a falta de atenção dentro de um meio conturbado, de um pai ou de uma mãe que trabalha fora o dia inteiro; seja uma exposição, um acontecimento, um fato visto.

        Isso marca uma criança; e como o próprio Jung dizia, nem tudo que a gente vive, a gente esquece, porque o inconsciente está aí pra sempre nos lembrar disso, das formas mais diferentes, até que lidemos com essas vivências mal resolvidas.

        Convivi desde pequeno com algum nível de ansiedade, porém, só percebi depois de anos, quando as consequências disso vieram me cobrar, sendo que nunca eu tinha pedido nada emprestado para elas.

        Mas descobri e entendi que essa conta não era minha; que algumas lembranças, que muitos choques que vivi durante a minha infância, os traumas, é que eram as donas e donos dela.

        Hoje, nessa metáfora engraçada (pra mim) que faço, já encaminhei essa conta aos remetentes, e com a ajuda da minha Psicóloga (a Dri), auxiliamos esses a “pagarem” aquilo que estavam me cobrando por engano. Por tudo isso, minha vida voltou a ser boa, e caminha em paz novamente.

        Mas uma parte muito importante dessa história é como eu saí de tudo isso que contei aqui, antes de chegar onde estou.

        Para além de toda a ajuda que especialmente minha psicóloga me deu, recorri a duas coisas que se fizeram fundamentais pra mim nessa minha trajetória.

        Uma delas, que na minha opinião sempre vai ter esse peso em qualquer situação, área e perspectiva da vida, foi o conhecimento. O conhecimento é tudo.

        E por mais dura que tenha sido minha busca, por não ter esse tipo de respaldo, por não ser da área da psicologia, por ter que ter tido uma gigantesca autonomia frente as minhas procuras pra achar o conteúdo, todo o esforço valeu a pena, as madrugadas e os momentos de concentração nesses meus estudos.

        O inglês me foi fundamental, porque sem ele, tendo em vista a escassez de conteúdo sobre TOC e ansiedade em português, eu nunca teria conseguido.

        As pessoas precisam ter acesso ao conhecimento. As pessoas, especialmente as que lidam com algum diagnóstico, precisam ter autonomia frente aos desafios impostos por esses tipos de condições. CONHECIMENTO É TUDO.

        Dois canais no Youtube salvaram a minha vida, sem exagero.

        Um, de um rapaz chamado Stuart, o The OCD Stories. E o outro, de um rapaz chamado Mark, nomeado como Everybody Has a Brain (Mark Freeman). 

        E a outra coisa que se fez fundamental pra mim durante essa minha trajetória, como mais uma fonte de auxilio, foi a minha ida a psiquiatra; momento em que, após um diagnóstico dela, que inclusive já era o meu diagnóstico pessoal, eu passei a tomar Sertralina.

        Mas vamos com mais calma nessa parte, porque nem sempre precisa ser assim e nem todo mundo tem a mesma experiência se adequando a medicação; cada caso é um caso e as orientações para cada um.

        Primeiro de tudo, ir até a psiquiatra foi uma decisão muito difícil, em um momento em que eu já não sabia mais o que fazer, porque não sabia mais como lidar com aquilo que estava passando; mesmo descobrindo muitas coisas com a Adriana; mesmo tendo começado minhas pesquisas; mesmo assim.

        Mas conversado com os meus familiares, com a minha psicóloga e com a minha namorada, eu fui, só que a minha primeira experiência não foi das melhores.

        O diagnóstico, apesar de um pouco óbvio pra mim naquela altura, foi imediato.

        A conversa que tive com a minha psiquiatra foi, pra mim, muito pouca. Saí dali com um papelzinho (a receita) e recebi uma indicação do como tomar os comprimidos, com apenas alguns dos efeitos colaterais claros na minha cabeça, tendo em vista a rapidez da conversa, a falta de instrução e o meu medo em perguntar.

        Insônia, diarreia, aumento dos pesadelos nos primeiros dias, alguns espasmos, diminuição da libido, momentos de alguma tensão e aumento da ansiedade; alguns desses efeitos eu só fui conhecer depois, na prática e lendo a bula.

        Mas as coisas começaram a mudar quando retornei com uma bagagem enorme de conhecimento, 3 meses depois da minha primeira consulta, vinda estranhamente de um rapaz estudante de Ciências Sociais.

        Falei para a médica sobre as minhas ferramentas, todas conseguidas por meio de estudo, dos vídeos e das descobertas sobre a minha vida, que fazia todos os dias em que voltava na Adriana (e as faço até hoje, rs), e percebi que ela passou a me ver com outros olhos.

        Todas as vezes que voltava lá, conversávamos mais profundamente sobre os efeitos da Sertralina, dos efeitos dos meus estudos sobre mim mesmo e da autonomia que tinha conquistado. Mas onde isso e a Sertralina me ajudaram?

        A medicação me serviu como um estabilizador, me colocando mais próxima do meu estado como ansioso “normal”, algo que me permitia pensar, viver e entender aquilo que lia sobre o meu transtorno.

        Eu perdi sim muita coisa durante um tempo, como parte do meu desejo sexual, parte das minhas emoções vinculadas a ansiedade boa (como eu costumo chamar) e até dos meus reflexos enquanto jogava bola; coisas que voltaram aos poucos, mesmo ainda tomando os 4 comprimidos.

        Hoje em dia, um ano depois disso, comecei a diminuir a medicação por ter chegado ao consenso, junto da minha psiquiatra, de que isso não me é mais necessário.

        A diminuição da dosagem deve, sempre, ser feita com acompanhamento e progressivamente, pois mesmo esse processo pode ter consequências, fortes, depois de tamanho tempo de uso. Mas você ou, nós, podemos chegar lá, e é importante saber disso.

        Minha luta, e agora falo concluindo o relato dessa experiência da minha vida, ainda não terminou, e eu nem acho que vá terminar dentro do sentido que atribuímos a esse termo.

        Não controlamos nossa mente, nem todos os nossos pensamentos e, muitos menos, as atitudes que as pessoas tomam em relação a nós mesmos.

        Todo mundo lida com ansiedade, porque ela é um algo natural, que faz parte da vida humana.

        O que muda com relação ao TOC e outros transtornos, é esse excesso prejudicial que destrói coisas, caso você não aprenda a entender e a lidar.

        Existem casos e casos dentro da psiquiatria clínica, alguns muito graves, que precisam de determinados cuidados sim, no entanto, uma outra parte deles, ao contrário do que nos deixam de dizer, tem cura.

        Eu estou aqui, eu tenho autonomia e propriedade o suficiente pra te dizer isso, porque eu sou a prova viva de que essa cura, de que esse caminho bonito, existe.

        Pare com as compulsões, porque elas são o alimento da sua ansiedade, o alimento das suas obsessões, que não vão deixar você sair desse ciclo vicioso de dopamina enquanto você não buscar, entender e aprender a lidar com o seu passado, os seus traumas e todas essas sensações.

        O caminho é longo, difícil, mas como exemplo disso, me trouxe até aqui.

        Hoje, sou uma outra pessoa, com 21 anos, pronto pra qualquer desafio que coloquem na minha frente. Tenho uma capacidade mental que nunca conseguiria ter se não tivesse encarado e vivido tudo que vivi.

        Seja forte, esteja preparado, e vai pra cima! Construa suas ferramentas como eu construí, pegue emprestada de amigos como o Stuart e o Mark e siga em frente!

        Eu tenho certeza absoluta que você e eu podemos conseguir.

        </p>
        </div>
    </div>
    </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>