
{{#if user}}

  <h1 name="username">Bem vindo(a) <span>{{ user.username}}</span>
      <form id ="chat">
   
    <div class="messages">
      {{#each retorno}}
      <div class="message"><strong> {{this.author}}</strong>:{{this.message}} </div>
    
      {{/each}}

    </div>
     <input type="hidden"  name="username" value={{user.username}}>
     <input type="text" name="message" placeholder="Digite sua mensagem">
    <button type="submit">Enviar</button>

  </form>

<a href="/logout">log out</a>
{{/if}}

